/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

body {
    background-color: rgb(22 33 30);
}

.title {
	color:#ffffff;
	font-family:Bahnschrift, sans-serif;
	font-size:81px;
	font-variation-settings:"wdth" 75, "wght" 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.subtitle {
	color:#00ff9a;
	font-family:Bahnschrift, sans-serif;
	font-size:31.1px;
	font-variation-settings:"wdth" 100, "wght" 700;
    margin-top: -0.25em;
    display: block;
}
.text {
	color:#ffffff;
	font-family:Bahnschrift, sans-serif;
	font-size:16.2px;
	font-variation-settings:"wdth" 100, "wght" 400;
    line-height: 1.33em;
}

section {
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}